<template>
    <v-toolbar
      color="primary"
      dark
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
    >
      <v-toolbar-title>
        <img id='home' src="./image.png" alt="DNA" style="height: 60px; vertical-align: middle">
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-menu offset-y>
        <v-btn
          v-show="isLoggedIn"
          slot="activator"
          color="primary"
          :ripple="false"
          depressed
        >
          {{$store.state.authentication.username}}
           <v-icon right dark>arrow_drop_down</v-icon>
        </v-btn>
        <v-list dense>
          <v-list-tile
            @click="logout"
          >
            <v-list-tile-title style="min-width: 100px">Logout</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
</template>

<script>

export default {
  computed: {
    isLoggedIn() {
      var bool = !(this.$store.state.authentication.token === undefined || this.$store.state.authentication.token === '')
      return bool
    }
  },

  methods: {
    logout () {
      this.$store.dispatch('logout')
      this.$router.push('/login/')
    }
  }
}
</script>
