<template>
  <v-content>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12">
            <v-toolbar dark color="primary">
              <v-toolbar-title>Login form</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-form @keyup.native.enter="submit">
                <v-text-field
                  v-model="form.email"
                  prepend-icon="email"
                  name="email"
                  label="Email"
                  type="text"
                  :error-messages="emailErrors()"
                  required
                  @blur="$v.form.email.$touch()"
                ></v-text-field>
                <v-text-field prepend-icon="lock" name="password" label="Password" id="password" type="password" v-model="form.password"></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                :loading="isWaiting"
                :disabled="isWaiting"
                @click="submit"
              >Login</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      isWaiting: false
    }
  },

  validations: {
    form: {
      email: {
        required,
        email
      }
    }
  },

  methods: {
    submit (event) {

      const authBody = {username: this.form.email, password: this.form.password}
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }
      this.isWaiting = true
      console.log(this.$v)

      this.$store.dispatch('login', authBody).then(() => {
        this.$router.push('/subscriptions')
      }).catch(() => {
        this.isWaiting = false
        this.$notify({
          type: 'error',
          title: 'Invalid Username password.. <i style="font-size:16px; float: right;" class="material-icons small valign">close</i>',
          duration: -1
        })
      }).finally(()=> {
        this.form.email = ''
        this.form.password = ''
        this.$v.$reset()
      })
    },

    emailErrors () {
      const errors = []
      if (!this.$v.form.email.$dirty) return errors
      !this.$v.form.email.required && errors.push('Email is a mandatory field.')
      !this.$v.form.email.email && errors.push('Entered email is not valid.')

      return errors
    }
  }
}
</script>
l
