<template>
  <v-dialog persistent v-model="dialog" max-width="40%">
    <v-card>
      <v-card-title>
        <span class="headline">Mobile Subscription</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field
                v-model="selectedMobileSubscription.username"
                readonly
                label="Username"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                v-model="selectedMobileSubscription.mobile_number"
                label="Mobile Number"
                readonly
                ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="secondary"
          flat
          :loading="isWaiting"
          :disabled="isWaiting"
          @click.native="close()"
        >Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import apiCalls from '@/apiCalls'

export default {
  data () {
    return {
      dialog: false,
      selectedMobileSubscription: {},
      isWaiting: false
    }
  },

  props: {
    mobileSubsId: {
      required: true
    }
  },

  watch: {
    mobileSubsId: {
    handler: function (id) {
      if (id !== '' && id.id !== '') {
        this.dialog = true
        apiCalls.getMobileSub(id.id).then(response => {
          this.selectedMobileSubscription = response.data
        })
        .catch(err => {
          console.log('error', err)
        })
      }
    },
    deep: true
  }
},
  methods: {
    close () {
      this.dialog = false
    }
  }
}
</script>
