<template>
  <v-layout row wrap class="animated fadeIn">
    <v-flex>
      <v-card class="pb-5 px-2">
        <v-card-title primary-title>
          <h3 class="headline">Subscriptions</h3>
        </v-card-title>
        <v-card-text>
          <v-card style="padding: 0; margin: 0; border: none;" flat>
            <v-card-title style="padding: 0; margin: 0">
              <v-text-field
                append-icon="search"
                v-model="search"
                label="Search"
              ></v-text-field>
            </v-card-title>
            <v-card-text style="padding: 0; margin: 0">
            <v-spacer></v-spacer>
            <mobile-subscription :mobileSubsId="selectedMobileSubID"></mobile-subscription>
            <broadband-subscription :broadbandSubsId="selectedBroadbandSubID"></broadband-subscription>
              <v-data-table
                :headers="headers"
                :items="subscriptionsList"
                :rows-per-page-items='[20]'
                :search="search"
              >
                <template slot="items" slot-scope="props">
                  <tr>
                    <td>{{ props.item.type }}</td>
                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.internet }}</td>
                    <td>{{ props.item.eu_data }}</td>
                    <td>{{ props.item.calls_sms }}</td>
                    <td>{{ props.item.price }}</td>
                    <td> <v-icon color="primary" @click="subscriptionClicked(props.item.id, props.item.type)">remove_red_eye</v-icon></td>
                  </tr>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>

import apiCalls from '@/apiCalls'
import mobileSubscription from '@/components/mobile_subscription.vue'
import broadbandSubscription from '@/components/broadband_subscription.vue'

export default {
  created () {
    this.initializeList()
  },

  data () {
    return {
      search: '',
      subscriptionsList: [],
      selectedMobileSubID: {},
      selectedBroadbandSubID: {},
      headers: [
        {
          text: 'Type',
          align: 'left',
          value: 'type'
        },
        {
          text: 'Name',
          align: 'left',
          value: 'name'
        },
        { text: 'Internet', value: 'internet', align: 'left' },
        { text: 'EU-data', value: 'eu_data', align: 'left' },
        { text: 'Calls and SMS', value: 'calls_sms', align: 'left' },
        { text: 'Price inc ALV 24 %', value: 'price', align: 'left' },
        { text: '', value: 'info', sortable: false, align: 'left' }
      ]
    }
  },

  components: {
    mobileSubscription,
    broadbandSubscription
  },

  methods: {
    initializeList () {
      var mobileSubs = apiCalls.getAllMobileSubs()
      var broadbandSubs = apiCalls.getAllBroadbandSubs()
      Promise.all([mobileSubs, broadbandSubs]).then(response => {
        response[0].data.forEach(function(el) { el.type = 'Mobile' });
        response[1].data.forEach(function(el) { el.type = 'Broadband' });
        this.subscriptionsList = response[0].data.concat(response[1].data)
      })
      .catch(err => {
        console.log('error', err)
      })
    },

    subscriptionClicked (id, type) {
      if (type === 'Mobile') {
        this.$set(this.selectedMobileSubID, 'id', '')
        this.$set(this.selectedMobileSubID, 'id', id)
      } else {
        this.$set(this.selectedBroadbandSubID, 'id', '')
        this.$set(this.selectedBroadbandSubID, 'id', id)
      }
    }
  }
}
</script>