<template>
  <v-app>
    <notifications/>
    <toolbar></toolbar>
    <v-content>
      <v-container fluid fill-height>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import toolbar from './components/navbar/toolbar.vue'
export default {
  components: {
    toolbar
  }
}
</script>

<style scoped>
h1 {
  color: gray;
}

</style>